In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [2]:
ijmond_df = pd.read_json('../data/datasets/metadata_ijmond_jan_22_2024.json')

In [3]:
rise_df = pd.read_json('../data/datasets/metadata_02242020.json')

In [4]:
ijmond_df["camera_id"] = ijmond_df["camera_id"] + 3

In [5]:
rise_df['dataset'] = 'rise'
ijmond_df['dataset'] = 'ijmond'
merged_dataset = pd.concat([rise_df, ijmond_df], ignore_index=True)
merged_dataset

,camera_id,file_name,id,label_state,label_state_admin,start_time,url_part,url_root,view_id,dataset
0,0,0-7-2019-06-24-3504-1067-4125-1688-180-180-972...,103169,23,-1,2019-06-24 21:10:15,2019-06-24/0-7/0-7-2019-06-24-3504-1067-4125-1...,https://smoke.createlab.org/videos/180/,7,rise
1,0,0-7-2019-02-03-3544-899-4026-1381-180-180-7424...,22392,23,-1,2019-02-03 18:09:35,2019-02-03/0-7/0-7-2019-02-03-3544-899-4026-13...,https://smoke.createlab.org/videos/180/,7,rise
2,0,0-2-2018-07-07-5648-1004-6150-1506-180-180-598...,35476,23,-1,2018-07-07 15:20:35,2018-07-07/0-2/0-2-2018-07-07-5648-1004-6150-1...,https://smoke.createlab.org/videos/180/,2,rise
3,0,0-6-2018-07-07-3981-1084-4484-1587-180-180-385...,36353,23,-1,2018-07-07 12:15:00,2018-07-07/0-6/0-6-2018-07-07-3981-1084-4484-1...,https://smoke.createlab.org/videos/180/,6,rise
4,0,0-2-2018-09-19-5648-1004-6150-1506-180-180-100...,42767,23,-1,2018-09-19 21:43:05,2018-09-19/0-2/0-2-2018-09-19-5648-1004-6150-1...,https://smoke.createlab.org/videos/180/,2,rise
...,...,...,...,...,...,...,...,...,...,...
13441,3,TUZbSqcLVtU-4,700,23,47,2023-06-09 18:51:13,TUZbSqcLVtU,https://ijmondcam.multix.io/videos/,4,ijmond
13442,4,crAL3CrEt3s-0,172,16,16,2023-04-10 13:19:14,crAL3CrEt3s,https://ijmondcam.multix.io/videos/,0,ijmond
13443,4,DoNtmf5UBkY-1,381,-1,23,2023-07-08 15:49:13,DoNtmf5UBkY,https://ijmondcam.multix.io/videos/,1,ijmond
13444,5,ewJnawMTdAU-0,583,-1,16,2023-03-26 16:25:53,ewJnawMTdAU,https://ijmondcam.multix.io/videos/,0,ijmond
13445,4,vQZz9ePv_vQ-2,50,-1,16,2023-05-13 17:12:06,vQZz9ePv_vQ,https://ijmondcam.multix.io/videos/,2,ijmond

In [6]:
#drop bad videos (file names were identified during eda)
merged_dataset = merged_dataset.drop(merged_dataset[merged_dataset['file_name'] == 'bu7USw70eXs-1'].index)
merged_dataset = merged_dataset.drop(merged_dataset[merged_dataset['file_name'] == '-A0yDQ9Tt70-0'].index)
merged_dataset = merged_dataset.drop(merged_dataset[merged_dataset['file_name'] == 'yp8tlmwD0OI-0'].index)

In [103]:
#save merged dataset
merged_dataset.to_json("../data/datasets/merged_dataset.json", orient='records')

In [7]:
#check merged dataset
pd.read_json("../data/datasets/merged_dataset.json")

,camera_id,file_name,id,label_state,label_state_admin,start_time,url_part,url_root,view_id,dataset
0,0,0-7-2019-06-24-3504-1067-4125-1688-180-180-972...,103169,23,-1,2019-06-24 21:10:15,2019-06-24/0-7/0-7-2019-06-24-3504-1067-4125-1...,https://smoke.createlab.org/videos/180/,7,rise
1,0,0-7-2019-02-03-3544-899-4026-1381-180-180-7424...,22392,23,-1,2019-02-03 18:09:35,2019-02-03/0-7/0-7-2019-02-03-3544-899-4026-13...,https://smoke.createlab.org/videos/180/,7,rise
2,0,0-2-2018-07-07-5648-1004-6150-1506-180-180-598...,35476,23,-1,2018-07-07 15:20:35,2018-07-07/0-2/0-2-2018-07-07-5648-1004-6150-1...,https://smoke.createlab.org/videos/180/,2,rise
3,0,0-6-2018-07-07-3981-1084-4484-1587-180-180-385...,36353,23,-1,2018-07-07 12:15:00,2018-07-07/0-6/0-6-2018-07-07-3981-1084-4484-1...,https://smoke.createlab.org/videos/180/,6,rise
4,0,0-2-2018-09-19-5648-1004-6150-1506-180-180-100...,42767,23,-1,2018-09-19 21:43:05,2018-09-19/0-2/0-2-2018-09-19-5648-1004-6150-1...,https://smoke.createlab.org/videos/180/,2,rise
...,...,...,...,...,...,...,...,...,...,...
13438,3,TUZbSqcLVtU-4,700,23,47,2023-06-09 18:51:13,TUZbSqcLVtU,https://ijmondcam.multix.io/videos/,4,ijmond
13439,4,crAL3CrEt3s-0,172,16,16,2023-04-10 13:19:14,crAL3CrEt3s,https://ijmondcam.multix.io/videos/,0,ijmond
13440,4,DoNtmf5UBkY-1,381,-1,23,2023-07-08 15:49:13,DoNtmf5UBkY,https://ijmondcam.multix.io/videos/,1,ijmond
13441,5,ewJnawMTdAU-0,583,-1,16,2023-03-26 16:25:53,ewJnawMTdAU,https://ijmondcam.multix.io/videos/,0,ijmond
13442,4,vQZz9ePv_vQ-2,50,-1,16,2023-05-13 17:12:06,vQZz9ePv_vQ,https://ijmondcam.multix.io/videos/,2,ijmond

In [8]:
#check number of unique dates
merged_dataset['date'] = merged_dataset['start_time'].dt.date
len(merged_dataset['date'].unique())

134

In [9]:
#num of unique dates in rise set
rise_df['date'] = rise_df['start_time'].dt.date
len(rise_df['date'].unique())

33

In [10]:
#num of unique dates in ijmond set
ijmond_df['date'] = ijmond_df['start_time'].dt.date
len(ijmond_df['date'].unique())

101

In [11]:
#get number of rows in a split by fraction
print("train:",(len(ijmond_df)-3)*0.62)
print("val:",(len(ijmond_df)-3)*0.13)
print("test:",(len(ijmond_df)-3)*0.25)

train: 543.12
val: 113.88000000000001
test: 219.0

In [12]:
#create camera view variable to check number of videos per view
ijmond_df['camera_view'] = ijmond_df['camera_id'].astype(str) + '-' +  ijmond_df['view_id'].astype(str)
ijmond_df['camera_view']

0      4-3
1      4-2
2      3-4
3      3-4
4      4-2
      ...
874    3-4
875    4-0
876    4-1
877    5-0
878    4-2
Name: camera_view, Length: 879, dtype: object

In [13]:
#check number of videos per view
view_counts = ijmond_df['camera_view'].value_counts()

# Convert the Series to a DataFrame
view_counts_df = pd.DataFrame(view_counts)

view_counts_df = view_counts_df.sort_index()

view_counts_df

     camera_view
3-0           37
3-1           37
3-2           37
3-3           37
3-4           37
4-0           99
4-1           99
4-2           99
4-3           99
5-0          149
5-1          149

Check created splits:

In [14]:
train1 = pd.read_json("../data/split/metadata_train_split_0_by_camera.json")
train2 = pd.read_json("../data/split/metadata_train_split_1_by_camera.json")
train3 = pd.read_json("../data/split/metadata_train_split_2_by_camera.json")
train4 = pd.read_json("../data/split/metadata_train_split_3_by_camera.json")
train5 = pd.read_json("../data/split/metadata_train_split_4_by_camera.json")
train6 = pd.read_json("../data/split/metadata_train_split_by_date.json")

In [15]:
print("train 1:", len(train1))
print("train 2:", len(train2))
print("train 3:", len(train3))
print("train 4:", len(train4))
print("train 5:", len(train5))
print("train 6:", len(train6))

train 1: 8234
train 2: 8325
train 3: 8243
train 4: 8360
train 5: 8290
train 6: 8199

In [16]:
print("train 1 ratio:", round(len(train1)/len(merged_dataset), 2))
print("train 2 ratio:", round(len(train2)/len(merged_dataset), 2))
print("train 3 ratio:", round(len(train3)/len(merged_dataset), 2))
print("train 4 ratio:", round(len(train4)/len(merged_dataset), 2))
print("train 5 ratio:", round(len(train5)/len(merged_dataset), 2))
print("train 6 ratio:", round(len(train6)/len(merged_dataset), 2))

train 1 ratio: 0.61
train 2 ratio: 0.62
train 3 ratio: 0.61
train 4 ratio: 0.62
train 5 ratio: 0.62
train 6 ratio: 0.61

In [17]:
val1 = pd.read_json("../data/split/metadata_validation_split_0_by_camera.json")
val2 = pd.read_json("../data/split/metadata_validation_split_1_by_camera.json")
val3 = pd.read_json("../data/split/metadata_validation_split_2_by_camera.json")
val4 = pd.read_json("../data/split/metadata_validation_split_3_by_camera.json")
val5 = pd.read_json("../data/split/metadata_validation_split_4_by_camera.json")
val6 = pd.read_json("../data/split/metadata_validation_split_by_date.json")

In [18]:
print("val 1:", len(val1))
print("val 2:", len(val2))
print("val 3:", len(val3))
print("val 4:", len(val4))
print("val 5:", len(val5))
print("val 6:", len(val6))

val 1: 1756
val 2: 1677
val 3: 1670
val 4: 1577
val 5: 1744
val 6: 1881

In [19]:
print("val 1 ratio:", round(len(val1)/len(merged_dataset), 2))
print("val 2 ratio:", round(len(val2)/len(merged_dataset), 2))
print("val 3 ratio:", round(len(val3)/len(merged_dataset), 2))
print("val 4 ratio:", round(len(val4)/len(merged_dataset), 2))
print("val 5 ratio:", round(len(val5)/len(merged_dataset), 2))
print("val 6 ratio:", round(len(val6)/len(merged_dataset), 2))

val 1 ratio: 0.13
val 2 ratio: 0.12
val 3 ratio: 0.12
val 4 ratio: 0.12
val 5 ratio: 0.13
val 6 ratio: 0.14

In [20]:
test1 = pd.read_json("../data/split/metadata_test_split_0_by_camera.json")
test2 = pd.read_json("../data/split/metadata_test_split_1_by_camera.json")
test3 = pd.read_json("../data/split/metadata_test_split_2_by_camera.json")
test4 = pd.read_json("../data/split/metadata_test_split_3_by_camera.json")
test5 = pd.read_json("../data/split/metadata_test_split_4_by_camera.json")
test6 = pd.read_json("../data/split/metadata_test_split_by_date.json")

In [21]:
print("test 1:", len(test1))
print("test 2:", len(test2))
print("test 3:", len(test3))
print("test 4:", len(test4))
print("test 5:", len(test5))
print("test 6:", len(test6))

test 1: 3453
test 2: 3441
test 3: 3530
test 4: 3506
test 5: 3409
test 6: 3360

In [22]:
print("test 1 ratio:", round(len(test1)/len(merged_dataset), 2))
print("test 2 ratio:", round(len(test2)/len(merged_dataset), 2))
print("test 3 ratio:", round(len(test3)/len(merged_dataset), 2))
print("test 4 ratio:", round(len(test4)/len(merged_dataset), 2))
print("test 5 ratio:", round(len(test5)/len(merged_dataset), 2))
print("test 6 ratio:", round(len(test6)/len(merged_dataset), 2))

test 1 ratio: 0.26
test 2 ratio: 0.26
test 3 ratio: 0.26
test 4 ratio: 0.26
test 5 ratio: 0.25
test 6 ratio: 0.25

Check date split on ijmond:

In [117]:
hm = train6[train6['dataset']=='rise']
hm['start_time'].dt.date.value_counts()

2018-06-11    1178
2019-01-17     784
2018-12-13     767
2019-01-18     742
2019-01-11     715
2018-06-14     459
2018-07-07     432
2018-08-06     432
2018-09-19     428
2018-11-10     369
2018-10-07     353
2018-12-11     326
2018-06-12     254
2018-12-28     143
2018-08-24      65
2018-05-11      57
2019-01-22      54
2018-09-03      35
2018-11-12      34
2018-06-15      25
2018-06-13      13
Name: start_time, dtype: int64

In [118]:
hm = val6[val6['dataset']=='rise']
hm['start_time'].dt.date.value_counts()

2019-02-02    991
2019-01-22    751
2019-02-03     17
Name: start_time, dtype: int64

In [119]:
hm = test6[test6['dataset']=='rise']
hm['start_time'].dt.date.value_counts()

2019-02-04    1006
2019-02-03     996
2019-04-09     504
2019-03-14     364
2019-05-15      50
2019-06-24      47
2019-08-11      46
2019-07-26      43
2019-04-01      42
2019-04-07      40
2019-06-25       3
Name: start_time, dtype: int64

In [124]:
hm = test6[test6['dataset']=='ijmond']
len(hm)

219

In [19]:
min(test6['start_time'])

Timestamp('2019-02-03 13:09:10')

In [20]:
max(test6["start_time"])

Timestamp('2023-08-09 19:36:53')

In [21]:
min(val6['start_time'])

Timestamp('2019-01-22 13:30:15')

In [22]:
max(val6["start_time"])

Timestamp('2023-06-20 18:55:09')

In [23]:
min(train6["start_time"])

Timestamp('2018-05-11 10:21:10')

In [24]:
max(train6["start_time"])

Timestamp('2023-06-17 10:40:50')

Drop bad videos from ijmond df

In [28]:
#drop bad videos
ijmond_df = ijmond_df.drop(ijmond_df[ijmond_df['file_name'] == 'bu7USw70eXs-1'].index)
ijmond_df = ijmond_df.drop(ijmond_df[ijmond_df['file_name'] == '-A0yDQ9Tt70-0'].index)
ijmond_df = ijmond_df.drop(ijmond_df[ijmond_df['file_name'] == 'yp8tlmwD0OI-0'].index)

In [29]:
ijmond_df["camera_id"] = ijmond_df["camera_id"] - 3
ijmond_df = ijmond_df.drop(columns=['date', 'camera_view'])
ijmond_df.head()

,camera_id,file_name,id,label_state,label_state_admin,start_time,url_part,url_root,view_id,dataset
0,1,A9W8G55JucU-3,75,23,23,2023-03-24 17:47:46,A9W8G55JucU,https://ijmondcam.multix.io/videos/,3,ijmond
1,1,23x-vGYMbec-2,6,16,32,2023-04-12 08:42:50,23x-vGYMbec,https://ijmondcam.multix.io/videos/,2,ijmond
2,0,mRjzTfzMS1I-4,843,16,16,2023-07-18 16:56:58,mRjzTfzMS1I,https://ijmondcam.multix.io/videos/,4,ijmond
3,0,aFhpESIPnXg-4,787,16,16,2023-06-17 08:53:21,aFhpESIPnXg,https://ijmondcam.multix.io/videos/,4,ijmond
4,1,Qv9-nS5BloI-2,81,23,47,2023-06-07 12:13:22,Qv9-nS5BloI,https://ijmondcam.multix.io/videos/,2,ijmond

Save ijmond dataset without the bad videos

In [30]:
#save preprocessed ijmond set
ijmond_df.to_json("../data/datasets/ijmond_dataset.json", orient='records')

In [26]:
ijmond_df = pd.read_json('../data/datasets/ijmond_dataset.json')

In [32]:
ijmond_df

,camera_id,file_name,id,label_state,label_state_admin,start_time,url_part,url_root,view_id,dataset
0,1,A9W8G55JucU-3,75,23,23,2023-03-24 17:47:46,A9W8G55JucU,https://ijmondcam.multix.io/videos/,3,ijmond
1,1,23x-vGYMbec-2,6,16,32,2023-04-12 08:42:50,23x-vGYMbec,https://ijmondcam.multix.io/videos/,2,ijmond
2,0,mRjzTfzMS1I-4,843,16,16,2023-07-18 16:56:58,mRjzTfzMS1I,https://ijmondcam.multix.io/videos/,4,ijmond
3,0,aFhpESIPnXg-4,787,16,16,2023-06-17 08:53:21,aFhpESIPnXg,https://ijmondcam.multix.io/videos/,4,ijmond
4,1,Qv9-nS5BloI-2,81,23,47,2023-06-07 12:13:22,Qv9-nS5BloI,https://ijmondcam.multix.io/videos/,2,ijmond
...,...,...,...,...,...,...,...,...,...,...
871,0,TUZbSqcLVtU-4,700,23,47,2023-06-09 18:51:13,TUZbSqcLVtU,https://ijmondcam.multix.io/videos/,4,ijmond
872,1,crAL3CrEt3s-0,172,16,16,2023-04-10 13:19:14,crAL3CrEt3s,https://ijmondcam.multix.io/videos/,0,ijmond
873,1,DoNtmf5UBkY-1,381,-1,23,2023-07-08 15:49:13,DoNtmf5UBkY,https://ijmondcam.multix.io/videos/,1,ijmond
874,2,ewJnawMTdAU-0,583,-1,16,2023-03-26 16:25:53,ewJnawMTdAU,https://ijmondcam.multix.io/videos/,0,ijmond
875,1,vQZz9ePv_vQ-2,50,-1,16,2023-05-13 17:12:06,vQZz9ePv_vQ,https://ijmondcam.multix.io/videos/,2,ijmond

Create dataset for few shot classification

1 shot:

In [35]:
file_names = []
train_df = pd.read_json('../data/split/metadata_test_split_by_date.json')
train_df.head()

,camera_id,file_name,id,label_state,label_state_admin,start_time,view_id,dataset,label,weight
0,5,cUwDJJnrU8A-0,420,16,23,2023-06-21 13:37:04,0,ijmond,1,0.50
1,5,cUwDJJnrU8A-1,419,20,23,2023-06-21 13:37:04,1,ijmond,1,0.66
2,5,ApuqMym1dfY-0,541,20,16,2023-06-22 08:24:58,0,ijmond,0,0.83
3,5,ApuqMym1dfY-1,542,19,23,2023-06-22 08:24:58,1,ijmond,1,0.83
4,5,13rTUYdKJ6c-1,445,23,23,2023-06-23 06:38:13,1,ijmond,1,1.00

In [37]:
train_df[train_df['label_state_admin']==32].head()

,camera_id,file_name,id,label_state,label_state_admin,start_time,view_id,dataset,label,weight
32,4,rsBRGyFrPwM-2,54,16,32,2023-06-25 08:24:46,2,ijmond,0,1.0
125,4,EACU2K9A44M-2,209,16,32,2023-07-19 03:32:15,2,ijmond,0,1.0
138,3,bu7USw70eXs-0,699,16,32,2023-07-24 20:08:34,0,ijmond,0,1.0
151,4,zuX9sR4wYKc-3,147,16,32,2023-07-26 16:41:36,3,ijmond,0,1.0
152,4,zuX9sR4wYKc-0,148,16,32,2023-07-26 16:41:36,0,ijmond,0,1.0

In [38]:
file_names.append('FYZNq4uWCxM-1') #labeled gold standard positive by researchers (47), video checked
file_names.append('rsBRGyFrPwM-2') #labeled gold standard negative by researcher (32), video checked

In [39]:
file_names

['FYZNq4uWCxM-1', 'rsBRGyFrPwM-2']

In [40]:
oneshot_df = train_df[train_df['file_name'].isin(file_names)]

In [41]:
#check dataset:
oneshot_df

,camera_id,file_name,id,label_state,label_state_admin,start_time,view_id,dataset,label,weight
32,4,rsBRGyFrPwM-2,54,16,32,2023-06-25 08:24:46,2,ijmond,0,1.0
53,5,FYZNq4uWCxM-1,669,23,47,2023-07-08 13:23:58,1,ijmond,1,1.0

In [43]:
#save dataset:
oneshot_df.to_json("../data/datasets/oneshot_dataset.json", orient='records')

Two shot dataset:

In [95]:
train_df[train_df['label_state_admin']==23].head(20)

,camera_id,file_name,id,label_state,label_state_admin,start_time,view_id,dataset,label,weight
0,5,cUwDJJnrU8A-0,420,16,23,2023-06-21 13:37:04,0,ijmond,1,0.50
1,5,cUwDJJnrU8A-1,419,20,23,2023-06-21 13:37:04,1,ijmond,1,0.66
3,5,ApuqMym1dfY-1,542,19,23,2023-06-22 08:24:58,1,ijmond,1,0.83
4,5,13rTUYdKJ6c-1,445,23,23,2023-06-23 06:38:13,1,ijmond,1,1.00
6,3,FGRFWwvDBTo-3,720,23,23,2023-06-23 06:38:13,3,ijmond,1,1.00
8,3,FGRFWwvDBTo-4,722,20,23,2023-06-23 06:38:13,4,ijmond,1,0.66
11,5,q19Gr_CNVDc-0,618,23,23,2023-06-23 13:08:32,0,ijmond,1,1.00
13,5,Na4kp2gNfzM-0,683,-1,23,2023-06-23 16:03:52,0,ijmond,1,0.75
14,5,Na4kp2gNfzM-1,684,23,23,2023-06-23 16:03:52,1,ijmond,1,1.00
21,3,9YFF4blnL4U-0,729,23,23,2023-06-23 18:45:32,0,ijmond,1,1.00
23,3,9YFF4blnL4U-2,726,16,23,2023-06-23 18:45:32,2,ijmond,1,0.50
25,5,-hkSAHAfnQU-0,443,23,23,2023-06-24 15:32:25,0,ijmond,1,1.00
28,5,pXVN51otSOM-1,501,23,23,2023-06-24 20:17:55,1,ijmond,1,1.00
30,4,rsBRGyFrPwM-1,53,23,23,2023-06-25 08:24:46,1,ijmond,1,1.00
34,5,c4pTP133iUY-0,687,23,23,2023-06-25 10:14:06,0,ijmond,1,1.00
36,3,i_aVbZNx47k-2,775,23,23,2023-06-25 14:25:03,2,ijmond,1,1.00
37,3,i_aVbZNx47k-3,779,23,23,2023-06-25 14:25:03,3,ijmond,1,1.00
39,3,i_aVbZNx47k-1,776,16,23,2023-06-25 14:25:03,1,ijmond,1,0.50
41,5,jQxBessVSMA-1,398,23,23,2023-06-25 17:54:44,1,ijmond,1,1.00
42,5,IHj5LwoJ_A0-0,531,23,23,2023-06-25 17:56:59,0,ijmond,1,1.00

In [89]:
merged_dataset[merged_dataset['file_name']  == "0-1-2019-07-26-5989-1127-6538-1675-180-180-7926-1564164260-1564164435"]['url_root'] + merged_dataset[merged_dataset['file_name']  == "0-1-2019-07-26-5989-1127-6538-1675-180-180-7926-1564164260-1564164435"]['url_part']

1201    https://smoke.createlab.org/videos/180/2019-07-26/0-1/0-1-2019-07-26-5989-1127-6538-1675-180-180-7926-1564164260-1564164435.mp4
dtype: object

In [90]:
file_names.append('0-14-2019-08-11-814-1076-1308-1570-180-180-11555-1565565940-1565566115') #negative (16) example from rise, checked - with weight 1
file_names.append('0-1-2019-07-26-5989-1127-6538-1675-180-180-7926-1564164260-1564164435') #positive (23) example from ris, checked - with weight 1

In [91]:
file_names

['FYZNq4uWCxM-1',
 'rsBRGyFrPwM-2',
 '0-14-2019-08-11-814-1076-1308-1570-180-180-11555-1565565940-1565566115',
 '0-1-2019-07-26-5989-1127-6538-1675-180-180-7926-1564164260-1564164435']

In [92]:
twoshot_df = train_df[train_df['file_name'].isin(file_names)]

In [93]:
twoshot_df

,camera_id,file_name,id,label_state,label_state_admin,start_time,view_id,dataset,label,weight
32,4,rsBRGyFrPwM-2,54,16,32,2023-06-25 08:24:46,2,ijmond,0,1.0
53,5,FYZNq4uWCxM-1,669,23,47,2023-07-08 13:23:58,1,ijmond,1,1.0
3298,0,0-1-2019-07-26-5989-1127-6538-1675-180-180-7926-1564164260-1564164435,97268,23,23,2019-07-26 18:04:20,1,rise,1,1.0
3356,0,0-14-2019-08-11-814-1076-1308-1570-180-180-11555-1565565940-1565566115,109072,16,-1,2019-08-11 23:25:40,14,rise,0,1.0

In [94]:
twoshot_df.to_json("../data/datasets/twoshot_dataset.json", orient='records')

Four shot:

In [128]:
debug_df = rise_df[rise_df['file_name']=='0-1-2019-01-11-6007-928-6509-1430-180-180-7171-1547232555-1547232730']
debug_df.to_json("../data/datasets/debug_dataset.json", orient='records')