In [2]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [3]:
ijmond_df = pd.read_json('../data/datasets/metadata_ijmond_jan_22_2024.json')

In [4]:
rise_df = pd.read_json('../data/datasets/metadata_02242020.json')

In [5]:
ijmond_df["camera_id"] = ijmond_df["camera_id"] + 3

In [5]:
rise_df['dataset'] = 'rise'
ijmond_df['dataset'] = 'ijmond'
merged_dataset = pd.concat([rise_df, ijmond_df], ignore_index=True)
merged_dataset

,camera_id,file_name,id,label_state,label_state_admin,start_time,url_part,url_root,view_id,dataset
0,0,0-7-2019-06-24-3504-1067-4125-1688-180-180-972...,103169,23,-1,2019-06-24 21:10:15,2019-06-24/0-7/0-7-2019-06-24-3504-1067-4125-1...,https://smoke.createlab.org/videos/180/,7,rise
1,0,0-7-2019-02-03-3544-899-4026-1381-180-180-7424...,22392,23,-1,2019-02-03 18:09:35,2019-02-03/0-7/0-7-2019-02-03-3544-899-4026-13...,https://smoke.createlab.org/videos/180/,7,rise
2,0,0-2-2018-07-07-5648-1004-6150-1506-180-180-598...,35476,23,-1,2018-07-07 15:20:35,2018-07-07/0-2/0-2-2018-07-07-5648-1004-6150-1...,https://smoke.createlab.org/videos/180/,2,rise
3,0,0-6-2018-07-07-3981-1084-4484-1587-180-180-385...,36353,23,-1,2018-07-07 12:15:00,2018-07-07/0-6/0-6-2018-07-07-3981-1084-4484-1...,https://smoke.createlab.org/videos/180/,6,rise
4,0,0-2-2018-09-19-5648-1004-6150-1506-180-180-100...,42767,23,-1,2018-09-19 21:43:05,2018-09-19/0-2/0-2-2018-09-19-5648-1004-6150-1...,https://smoke.createlab.org/videos/180/,2,rise
...,...,...,...,...,...,...,...,...,...,...
13441,3,TUZbSqcLVtU-4,700,23,47,2023-06-09 18:51:13,TUZbSqcLVtU,https://ijmondcam.multix.io/videos/,4,ijmond
13442,4,crAL3CrEt3s-0,172,16,16,2023-04-10 13:19:14,crAL3CrEt3s,https://ijmondcam.multix.io/videos/,0,ijmond
13443,4,DoNtmf5UBkY-1,381,-1,23,2023-07-08 15:49:13,DoNtmf5UBkY,https://ijmondcam.multix.io/videos/,1,ijmond
13444,5,ewJnawMTdAU-0,583,-1,16,2023-03-26 16:25:53,ewJnawMTdAU,https://ijmondcam.multix.io/videos/,0,ijmond
13445,4,vQZz9ePv_vQ-2,50,-1,16,2023-05-13 17:12:06,vQZz9ePv_vQ,https://ijmondcam.multix.io/videos/,2,ijmond

In [6]:
#drop bad videos (file names were identified during eda)
merged_dataset = merged_dataset.drop(merged_dataset[merged_dataset['file_name'] == 'bu7USw70eXs-1'].index)
merged_dataset = merged_dataset.drop(merged_dataset[merged_dataset['file_name'] == '-A0yDQ9Tt70-0'].index)
merged_dataset = merged_dataset.drop(merged_dataset[merged_dataset['file_name'] == 'yp8tlmwD0OI-0'].index)

In [7]:
#save merged dataset
merged_dataset.to_json("../data/datasets/merged_dataset.json", orient='records')

In [6]:
#check merged dataset
pd.read_json("../data/datasets/merged_dataset.json")

,camera_id,file_name,id,label_state,label_state_admin,start_time,url_part,url_root,view_id,dataset
0,0,0-7-2019-06-24-3504-1067-4125-1688-180-180-972...,103169,23,-1,2019-06-24 21:10:15,2019-06-24/0-7/0-7-2019-06-24-3504-1067-4125-1...,https://smoke.createlab.org/videos/180/,7,rise
1,0,0-7-2019-02-03-3544-899-4026-1381-180-180-7424...,22392,23,-1,2019-02-03 18:09:35,2019-02-03/0-7/0-7-2019-02-03-3544-899-4026-13...,https://smoke.createlab.org/videos/180/,7,rise
2,0,0-2-2018-07-07-5648-1004-6150-1506-180-180-598...,35476,23,-1,2018-07-07 15:20:35,2018-07-07/0-2/0-2-2018-07-07-5648-1004-6150-1...,https://smoke.createlab.org/videos/180/,2,rise
3,0,0-6-2018-07-07-3981-1084-4484-1587-180-180-385...,36353,23,-1,2018-07-07 12:15:00,2018-07-07/0-6/0-6-2018-07-07-3981-1084-4484-1...,https://smoke.createlab.org/videos/180/,6,rise
4,0,0-2-2018-09-19-5648-1004-6150-1506-180-180-100...,42767,23,-1,2018-09-19 21:43:05,2018-09-19/0-2/0-2-2018-09-19-5648-1004-6150-1...,https://smoke.createlab.org/videos/180/,2,rise
...,...,...,...,...,...,...,...,...,...,...
13438,3,TUZbSqcLVtU-4,700,23,47,2023-06-09 18:51:13,TUZbSqcLVtU,https://ijmondcam.multix.io/videos/,4,ijmond
13439,4,crAL3CrEt3s-0,172,16,16,2023-04-10 13:19:14,crAL3CrEt3s,https://ijmondcam.multix.io/videos/,0,ijmond
13440,4,DoNtmf5UBkY-1,381,-1,23,2023-07-08 15:49:13,DoNtmf5UBkY,https://ijmondcam.multix.io/videos/,1,ijmond
13441,5,ewJnawMTdAU-0,583,-1,16,2023-03-26 16:25:53,ewJnawMTdAU,https://ijmondcam.multix.io/videos/,0,ijmond
13442,4,vQZz9ePv_vQ-2,50,-1,16,2023-05-13 17:12:06,vQZz9ePv_vQ,https://ijmondcam.multix.io/videos/,2,ijmond

In [9]:
#check number of unique dates
merged_dataset['date'] = merged_dataset['start_time'].dt.date
len(merged_dataset['date'].unique())

134

In [10]:
#num of unique dates in rise set
rise_df['date'] = rise_df['start_time'].dt.date
len(rise_df['date'].unique())

33

In [11]:
#num of unique dates in ijmond set
ijmond_df['date'] = ijmond_df['start_time'].dt.date
len(ijmond_df['date'].unique())

101

In [12]:
#get number of rows in a split by fraction
print("train:",(len(ijmond_df)-3)*0.62)
print("val:",(len(ijmond_df)-3)*0.13)
print("test:",(len(ijmond_df)-3)*0.25)

train: 543.12
val: 113.88000000000001
test: 219.0

In [13]:
#create camera view variable to check number of videos per view
ijmond_df['camera_view'] = ijmond_df['camera_id'].astype(str) + '-' +  ijmond_df['view_id'].astype(str)
ijmond_df['camera_view']

0      4-3
1      4-2
2      3-4
3      3-4
4      4-2
      ...
874    3-4
875    4-0
876    4-1
877    5-0
878    4-2
Name: camera_view, Length: 879, dtype: object

In [14]:
#check number of videos per view
view_counts = ijmond_df['camera_view'].value_counts()

# Convert the Series to a DataFrame
view_counts_df = pd.DataFrame(view_counts)

view_counts_df = view_counts_df.sort_index()

view_counts_df

     camera_view
3-0           37
3-1           37
3-2           37
3-3           37
3-4           37
4-0           99
4-1           99
4-2           99
4-3           99
5-0          149
5-1          149

Check created splits:

In [7]:
train1 = pd.read_json("../data/split/metadata_train_split_0_by_camera.json")
train2 = pd.read_json("../data/split/metadata_train_split_1_by_camera.json")
train3 = pd.read_json("../data/split/metadata_train_split_2_by_camera.json")
train4 = pd.read_json("../data/split/metadata_train_split_3_by_camera.json")
train5 = pd.read_json("../data/split/metadata_train_split_4_by_camera.json")
train6 = pd.read_json("../data/split/metadata_train_split_by_date.json")

In [8]:
print("train 1:", len(train1))
print("train 2:", len(train2))
print("train 3:", len(train3))
print("train 4:", len(train4))
print("train 5:", len(train5))
print("train 6:", len(train6))

train 1: 8234
train 2: 8325
train 3: 8243
train 4: 8360
train 5: 8290
train 6: 8199

In [10]:
val1 = pd.read_json("../data/split/metadata_validation_split_0_by_camera.json")
val2 = pd.read_json("../data/split/metadata_validation_split_1_by_camera.json")
val3 = pd.read_json("../data/split/metadata_validation_split_2_by_camera.json")
val4 = pd.read_json("../data/split/metadata_validation_split_3_by_camera.json")
val5 = pd.read_json("../data/split/metadata_validation_split_4_by_camera.json")
val6 = pd.read_json("../data/split/metadata_validation_split_by_date.json")

In [12]:
print("val 1:", len(val1))
print("val 2:", len(val2))
print("val 3:", len(val3))
print("val 4:", len(val4))
print("val 5:", len(val5))
print("val 6:", len(val6))

val 1: 1756
val 2: 1677
val 3: 1670
val 4: 1577
val 5: 1744
val 6: 1881

In [13]:
test1 = pd.read_json("../data/split/metadata_test_split_0_by_camera.json")
test2 = pd.read_json("../data/split/metadata_test_split_1_by_camera.json")
test3 = pd.read_json("../data/split/metadata_test_split_2_by_camera.json")
test4 = pd.read_json("../data/split/metadata_test_split_3_by_camera.json")
test5 = pd.read_json("../data/split/metadata_test_split_4_by_camera.json")
test6 = pd.read_json("../data/split/metadata_test_split_by_date.json")

In [14]:
print("test 1:", len(test1))
print("test 2:", len(test2))
print("test 3:", len(test3))
print("test 4:", len(test4))
print("test 5:", len(test5))
print("test 6:", len(test6))

test 1: 3453
test 2: 3441
test 3: 3530
test 4: 3506
test 5: 3409
test 6: 3360

Check date split on ijmond:

In [16]:
hm = train6[train6['dataset']=='rise']
hm['start_time'].dt.date.value_counts()

2018-06-11    1178
2019-01-17     784
2018-12-13     767
2019-01-18     742
2019-01-11     715
2018-06-14     459
2018-07-07     432
2018-08-06     432
2018-09-19     428
2018-11-10     369
2018-10-07     353
2018-12-11     326
2018-06-12     254
2018-12-28     143
2018-08-24      65
2018-05-11      57
2019-01-22      54
2018-09-03      35
2018-11-12      34
2018-06-15      25
2018-06-13      13
Name: start_time, dtype: int64

In [17]:
hm = val6[val6['dataset']=='rise']
hm['start_time'].dt.date.value_counts()

2019-02-02    991
2019-01-22    751
2019-02-03     17
Name: start_time, dtype: int64

In [18]:
hm = test6[test6['dataset']=='rise']
hm['start_time'].dt.date.value_counts()

2019-02-04    1006
2019-02-03     996
2019-04-09     504
2019-03-14     364
2019-05-15      50
2019-06-24      47
2019-08-11      46
2019-07-26      43
2019-04-01      42
2019-04-07      40
2019-06-25       3
Name: start_time, dtype: int64

In [19]:
min(test6['start_time'])

Timestamp('2019-02-03 13:09:10')

In [20]:
max(test6["start_time"])

Timestamp('2023-08-09 19:36:53')

In [21]:
min(val6['start_time'])

Timestamp('2019-01-22 13:30:15')

In [22]:
max(val6["start_time"])

Timestamp('2023-06-20 18:55:09')

In [23]:
min(train6["start_time"])

Timestamp('2018-05-11 10:21:10')

In [24]:
max(train6["start_time"])

Timestamp('2023-06-17 10:40:50')

Drop bad videos from ijmond df

In [28]:
#drop bad videos
ijmond_df = ijmond_df.drop(ijmond_df[ijmond_df['file_name'] == 'bu7USw70eXs-1'].index)
ijmond_df = ijmond_df.drop(ijmond_df[ijmond_df['file_name'] == '-A0yDQ9Tt70-0'].index)
ijmond_df = ijmond_df.drop(ijmond_df[ijmond_df['file_name'] == 'yp8tlmwD0OI-0'].index)

In [29]:
ijmond_df["camera_id"] = ijmond_df["camera_id"] - 3
ijmond_df = ijmond_df.drop(columns=['date', 'camera_view'])
ijmond_df.head()

,camera_id,file_name,id,label_state,label_state_admin,start_time,url_part,url_root,view_id,dataset
0,1,A9W8G55JucU-3,75,23,23,2023-03-24 17:47:46,A9W8G55JucU,https://ijmondcam.multix.io/videos/,3,ijmond
1,1,23x-vGYMbec-2,6,16,32,2023-04-12 08:42:50,23x-vGYMbec,https://ijmondcam.multix.io/videos/,2,ijmond
2,0,mRjzTfzMS1I-4,843,16,16,2023-07-18 16:56:58,mRjzTfzMS1I,https://ijmondcam.multix.io/videos/,4,ijmond
3,0,aFhpESIPnXg-4,787,16,16,2023-06-17 08:53:21,aFhpESIPnXg,https://ijmondcam.multix.io/videos/,4,ijmond
4,1,Qv9-nS5BloI-2,81,23,47,2023-06-07 12:13:22,Qv9-nS5BloI,https://ijmondcam.multix.io/videos/,2,ijmond

Save ijmond dataset without the bad videos

In [30]:
#save preprocessed ijmond set
ijmond_df.to_json("../data/datasets/ijmond_dataset.json", orient='records')

In [26]:
ijmond_df = pd.read_json('../data/datasets/ijmond_dataset.json')

In [32]:
ijmond_df

,camera_id,file_name,id,label_state,label_state_admin,start_time,url_part,url_root,view_id,dataset
0,1,A9W8G55JucU-3,75,23,23,2023-03-24 17:47:46,A9W8G55JucU,https://ijmondcam.multix.io/videos/,3,ijmond
1,1,23x-vGYMbec-2,6,16,32,2023-04-12 08:42:50,23x-vGYMbec,https://ijmondcam.multix.io/videos/,2,ijmond
2,0,mRjzTfzMS1I-4,843,16,16,2023-07-18 16:56:58,mRjzTfzMS1I,https://ijmondcam.multix.io/videos/,4,ijmond
3,0,aFhpESIPnXg-4,787,16,16,2023-06-17 08:53:21,aFhpESIPnXg,https://ijmondcam.multix.io/videos/,4,ijmond
4,1,Qv9-nS5BloI-2,81,23,47,2023-06-07 12:13:22,Qv9-nS5BloI,https://ijmondcam.multix.io/videos/,2,ijmond
...,...,...,...,...,...,...,...,...,...,...
871,0,TUZbSqcLVtU-4,700,23,47,2023-06-09 18:51:13,TUZbSqcLVtU,https://ijmondcam.multix.io/videos/,4,ijmond
872,1,crAL3CrEt3s-0,172,16,16,2023-04-10 13:19:14,crAL3CrEt3s,https://ijmondcam.multix.io/videos/,0,ijmond
873,1,DoNtmf5UBkY-1,381,-1,23,2023-07-08 15:49:13,DoNtmf5UBkY,https://ijmondcam.multix.io/videos/,1,ijmond
874,2,ewJnawMTdAU-0,583,-1,16,2023-03-26 16:25:53,ewJnawMTdAU,https://ijmondcam.multix.io/videos/,0,ijmond
875,1,vQZz9ePv_vQ-2,50,-1,16,2023-05-13 17:12:06,vQZz9ePv_vQ,https://ijmondcam.multix.io/videos/,2,ijmond